### Java / Spring Boot ###
HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IDE ###
.idea/
.vscode/
*.iws
*.iml
*.ipr
*.swp
*.swo
*~
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### Node / Frontend ###
node_modules/
npm-debug.log
yarn-error.log
dist/
out/

### OS ###
.DS_Store
Thumbs.db

### Env ###
.env

### Dependencies ###
/.pnp
.pnp.js
